<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>게시판 / Bulletin Board</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <!-- Favicons -->
    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand"></h3>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">게시판에 오신것을 환영합니다 / Welcome to the bulletin board</h1>
    <p class="lead">아래의 버튼을 클릭해 게시판에 접속하세요 / Click the button below to access the bulletin board</p>
    <p class="lead">
    <a href="/posts/list" class="btn btn-lg btn-secondary">게시판 / Continue</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Developed by: <a href='https://postgrethon.wordpress.com'>Postgrethon Software House</a></p>
    </div>
  </footer>
  </div>
</body>
</html>

